<%- include('includes/head.ejs') %>

  <%- include('includes/nav.ejs') %>
  <main>
    <form action="/" method="POST">
      <label>
        Username
        <input type="text" name="username">
      </label>
      <button type="submit">Add User</button>
    </form>
  </main>

<%- include('includes/end.ejs') %>